html,body {
    height: 100%;
    overflow: auto;
}

body{
    background-image: url('image/Shiba1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

h1{
        font-family: 'Dosis', sans-serif;  
        font-size: 60px;
}

h2{
    font-family: 'Dosis', sans-serif;  
    font-size: 50px;
    text-align: right; 
}

